<%#
# This file is part of the OpenWISP Manager
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div id="list_l2vpn_servers_div">
  <a href="#" id="toggle-forms"><%= t(:Listing_l2vpn_servers) %></a>
  <table id="vpn_servers-table">
    <thead>
      <tr>
        <th scope="col" class="head-left"><%=t :Operations %></th>
        <th scope="col" class="head"><%=t :Wisp %></th>
        <th scope="col" class="head"><%=t :L2vpn_server_name %></th>
        <th scope="col" class="head"><%=t :L2vpn_server_port %></th>
        <th scope="col" class="head"><%=t :L2vpn_server_cipher %></th>
        <th scope="col" class="head-right"><%=t :L2vpn_server_protocol %></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="1" class="foot-left"></td>
        <td colspan="4" class="foot" style="text-align: center;">&nbsp;</td>
        <td colspan="1" class="foot-right">&nbsp;</td>
      </tr>
    </tfoot>
    <tbody>
      <% @l2vpn_servers.each do |l2vpn_server| %>
        <tr>
            <td style="width:54px;">
              <%= link_to_remote image_tag("edit.png", :border=>0, :size => "16x16", :alt => t(:Edit)),
                    :method => :get,
                    :url => edit_server_l2vpn_server_path(@server, l2vpn_server),
                    :title => t(:Edit),
                    :update => { :success => "list_l2vpn_servers_div", :failure => "list_l2vpn_servers_div" }

              %>
              <%= link_to_remote image_tag("delete.png", :border=>0, :size => "16x16", :alt => t(:Destroy)), 
                    :method => :delete,
                    :url =>server_l2vpn_server_path(@server, l2vpn_server),
                    :title => t(:Destroy_l2vpn_server),
                    :confirm => t(:Are_you_sure_l2vpn_server_destroy),
                    :update => { :success => "list_l2vpn_servers_div", :failure => "list_l2vpn_servers_div" }

              %>
            </td>
            <td><%=h l2vpn_server.wisp.name %></td>
      			<td><%= link_to_remote l2vpn_server.name, 
                        :method => :get,
       				  :url => server_l2vpn_server_path(@server, l2vpn_server),
                        :title => t(:Show),
      				  :update => { :success => "list_l2vpn_servers_div", :failure => "list_l2vpn_servers_div" }
       				%>
      			</td>
            <td><%=h l2vpn_server.port %></td>
            <td><%=h l2vpn_server.cipher %></td>
            <td><%=h l2vpn_server.protocol %></td>
        </tr>  
      <% end %>
    </tbody>
  </table>
</div>
