<div id="show_l2vpn_server_div">
	<div class="box">
	    <h2><a href="#" id="toggle-forms"><%=h t(:General_infos) %></a></h2>
	    <div class="block" id="access_point_block">
	      <table>
		    <tr>
	          <td><b><%=t :Wisp_name %></b></td>
	          <td><%=h @l2vpn_server.wisp.name %></td>
	        </tr>
			<tr>
	          <td colspan="2">&nbsp;</td>
	        </tr>
	        <tr>
	          <td><b><%=t :L2vpn_server_name %></b></td>
	          <td><%=h @l2vpn_server.name %></td>
	        </tr>
	        <tr>
	          <td><b><%=t :L2vpn_server_port %></b></td>
	          <td><%=h @l2vpn_server.port %></td>
	        </tr>
	        <tr>
	          <td><b><%=t :L2vpn_server_cipher %></b></td>
	          <td><%=h @l2vpn_server.cipher %></td>
	        </tr>
	        <tr>
	          <td><b><%=t :L2vpn_server_protocol %></b></td>
	          <td><%=h @l2vpn_server.protocol %></td>
	        </tr>
	        <tr>
	          <td><b><%=t :L2vpn_server_mtu %></b></td>
	          <td><%=h @l2vpn_server.mtu %></td>
	        </tr>
	        <tr>
	          <td><b><%=t :L2vpn_server_mtu_discovery %></b></td>
	          <td><%=h @l2vpn_server.mtu_disc %></td>
	        </tr>
			<tr>
	          <td colspan="2">&nbsp;</td>
	        </tr> 
	        <tr>
	          <td colspan="2"><b><%=t :Notes %></b></td>
	        </tr>
	        <tr>
	          <td colspan="2"><%= h(@l2vpn_server.notes).gsub(/\n/, "<br>") %></td>
	        </tr>
	      </table>
	    </div>
	</div>
</div>
