<div id="edit_ethernet_template_div">
  <fieldset>
    <legend><%=t :Edit_ethernet_template %></legend>
    <% remote_form_for([@wisp, @access_point_template, @ethernet_template],
            :update => { :success => "edit_ethernet_template_div", :failure => "edit_ethernet_template_div" }
      ) do |f| %>
      <p><%= f.error_messages %></p>

      <p>
        <%= f.label t(:Name) %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label t(:Notes) %><br />
        <%= f.text_area :notes, :rows => 3 %>
      </p>
      <p>
      <%= f.submit t(:Update) %>
      </p>
    <% end %>
  </fieldset>
</div>
