<div id="list_ethernet_templates_div">
  <a><%=t :Listing_ethernet_templates %></a>

  <table id="ethernet_templates-table">
    <thead>
    <tr>
    <th scope="col" class="head-left"><%=t :Operations %></th>
    <th scope="col" class="head"><%=t :Name %></th>
    <th scope="col" class="head-right"><%=t :Notes %></th>
    </thead>
    <tfoot>
    <tr>
      <td colspan="1" class="foot-left">&nbsp;</td>
      <td colspan="1" class="foot">&nbsp;</td>
      <td colspan="1" class="foot-right">&nbsp;</td>
    </tr>
    </tfoot>
    <tbody>
    <% @ethernet_templates.each do |ethernet_template| %>
        <tr>
          <td style="width:32px;">
            <% if auth?(:wisps_manager) || auth?(:access_point_templates_manager, @wisp) %>
                <%= link_to_remote image_tag("edit.png", :border=>0, :size => "16x16", :alt => t(:Edit)),
                                   :method => :get,
                                   :url => edit_wisp_access_point_template_ethernet_template_path(@wisp, @access_point_template, ethernet_template),
                                   :title => t(:Edit),
                                   :update => { :success => "list_ethernet_templates_div", :failure => "list_ethernet_templates_div" }
                %>
                <%= link_to_remote image_tag("delete.png", :border=>0, :size => "16x16", :alt => t(:Destroy)),
                                   :method => :delete,
                                   :url => wisp_access_point_template_ethernet_template_path(@wisp, @access_point_template, ethernet_template),
                                   :title => t(:Destroy_ethernet_template),
                                   :confirm => t(:Are_you_sure_ethernet_template_destroy),
                                   :update => { :success => "list_ethernet_templates_div", :failure => "list_ethernet_templates_div" }
                %>
            <% end %>
          </td>
          <td><%=h ethernet_template.name %></td>
          <td>
            <% if (ethernet_template.notes.nil? or ethernet_template.notes.length == 0) %>
                &nbsp;
            <% else %>
                <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                            :title => h(ethernet_template.notes)
                %>
            <% end %>
          </td>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>

