<%#
# This file is part of the OpenWISP Manager
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% form_for wisp do |f| %>
    <fieldset>
      <fieldset>
        <legend><%=t :General_infos %></legend>
        <p><%= f.error_messages %></p>

        <p>
          <%= f.label :Name %><br />
          <%= f.text_field :name, :maxlength => 32 %>
        </p>
        <p>
          <%= f.label :Notes %><br />
          <%= f.text_area :notes, :rows => 3 %>
        </p>

      </fieldset>

      <% if wisp.new_record? %>
          <% f.fields_for :ca do |cf| %>
              <%= render :partial => 'ca', :locals => { :ca_form => cf }  %>
          <% end %>
      <% end %>

      <fieldset>
        <legend><%=t :Owmw_services %></legend>

        <p>
          <%= f.label :owmw_url, t(:Owmw_url) %><br />
          <%= f.text_field :owmw_url %>
        </p>
        <p>
          <%= f.label :owmw_username, t(:Username) %><br />
          <%= f.text_field :owmw_username %>
        </p>
        <p>
          <%= f.label :owmw_password, t(:Password) %><br />
          <%= f.password_field :owmw_password %>
        </p>
      </fieldset>
      <fieldset>
        <legend><%=t :Redis_services %></legend>

        <p>
          <%= f.label :redis_server, t(:Redis_server) %><br />
          <%= f.text_field :redis_server %>
        </p>
        <p>
          <%= f.label :redis_port, t(:Redis_port) %><br />
          <%= f.text_field :redis_port %>
        </p>
        <p>
          <%= f.label :redis_db, t(:Redis_db) %><br />
          <%= f.text_field :redis_db %>
        </p>
      </fieldset>



      <p><%= f.submit t( wisp.new_record? ? :Create : :Update ) %></p>
    </fieldset>
<% end %>
