<%#
# This file is part of the OpenWISP Manager
#
# Copyright (C) 2010 CASPUR (wifi@caspur.it)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<table>
  <% if auth?(:wisps_viewer) || auth?(:access_points_viewer, @wisp) %>
      <tr>
        <td><%= link_to t(:AccessPoints), wisp_access_points_path(@wisp) %></td>
        <td><%= @wisp.access_points.length %></td>
      </tr>
  <% end %>

  <% if auth?(:wisps_viewer) || auth?(:access_point_templates_viewer, @wisp) %>
      <tr>
        <td><%= link_to t(:AccessPoint_templates), wisp_access_point_templates_path(@wisp) %></td>
        <td><%= @wisp.access_point_templates.length %></td>
      </tr>
  <% end %>

  <% if auth?(:wisps_viewer) || auth?(:operators_viewer, @wisp) %>
      <tr>
        <td> <%= link_to t(:Operators), wisp_operators_path(@wisp) %></td>
        <td><%= @wisp.operators.length %></td>
      </tr>
  <% end %>

  <%#
  TODO: find usage for ap groups
  <tr>
    <td> <%# link_to t(:Access_point_groups), wisp_access_point_groups_path(@wisp) % ></td>
    <td><%# @wisp.access_point_groups.length % ></td>
  </tr>
  <tr>
    <td><%# link_to t(:Template_groups), wisp_template_groups_path(@wisp) % ></td>
    <td><%# @wisp.template_groups.length % ></td>
  </tr>
  %>
</table>
