<%#
# This file is part of the OpenWISP Manager
#
# Copyright (C) 2010 CASPUR (wifi@caspur.it)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_16">
  <div class="box">
    <h4><a><%= t(:Wisps_list) %></a></h4>
  </div>
</div>
<div class="clear">&nbsp;</div>

<div class="grid_14 prefix_1 suffix_1">
  <div class="box">
    <h2><a href="#" id="toggle-forms"><%= t(:Listing_wisps) %></a></h2>
    <div class="block" id="wisps_block">
      <table id="wisps-table">
        <thead>
        <tr>
          <th scope="col" class="head-left"><%=t :Operations %></th>
          <th scope="col" class="head"><%=t :Name %></th>
          <th scope="col" class="head-right"><%=t :Notes %></th>
        </tr>
        </thead>
        <% if auth? :wisps_creator %>
            <tfoot>
            <tr><td colspan="3" class="foot" style="text-align: center;"><%= link_to t(:Create_New), new_wisp_path() %></td></tr>
            </tfoot>
        <% end %>
        <tbody>
        <% @wisps.each do |wisp| %>
            <% if auth?(:wisps_viewer) || auth?(:wisp_viewer, wisp) %>
                <tr>
                  <td style="width:48px;">
                    <%= link_to image_tag("configure.png", :border=>0, :size => "16x16", :alt => t(:Configure)), wisp,
                                :title => t(:Configure)
                    %>
                    <% if auth?(:wisps_manager) || auth?(:wisp_manager, wisp) %>
                        <%= link_to image_tag("edit.png", :border=>0, :size => "16x16", :alt => t(:Edit)), edit_wisp_path(wisp),
                                    :title => t(:Edit_info)
                        %>
                    <% end %>
                    <% if auth? :wisps_destroyer %>
                        <%= link_to image_tag("delete.png", :border=>0, :size => "16x16", :alt => t(:Destroy)), wisp,
                                    :title => t(:Destroy_wisp),
                                    :confirm => t(:Are_you_sure_wisp_destroy),
                                    :method => :delete
                        %>
                    <% end %>
                  </td>
                  <td><%= link_to wisp.name, wisp_path(wisp) %></td>
                  <td>
                    <% if (wisp.notes.nil? or wisp.notes.length == 0) %>
                        &nbsp;
                    <% else %>
                        <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                                    :title => h(wisp.notes)
                        %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="clear">&nbsp;</div>

