<div class="grid_16">
  <div class="box">
    <h4><a><%=h @wisp.name %></a></h4>
  </div>
</div>
<div class="clear">&nbsp;</div>

<div class="grid_4">
  <div class="box">
    <h2><a href="#"><%= t(:Stats) %> - <%=h @wisp.name %></a></h2>
    <div class="block" id="wisp_stats-block">
        <%= render :partial => "stats", :object =>  @wisp %>
    </div>
  </div>
  <div class="box">
    <h2><a href="#"><%= t(:General_infos) %> - <%=h @wisp.name %></a></h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:Edit), edit_wisp_path(@wisp) %>
      </li>
      <li>
        <%= link_to t(:Back), :back %>
      </li>
    </ul>
    <div class="block" id="wisp_info-block">
      <table>
        <tr>
          <td><a><%= t(:Name) %></a></td>
          <td><%=h @wisp.name %></td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2"><a><%= t(:Notes) %></a></td>
        </tr>
        <tr>
          <td colspan="2"><%= h(@wisp.notes).gsub(/\n/, "<br>") %></td>
        </tr>
      </table>
    </div>
	</div>
</div>

<%= periodically_call_remote( :url => { :action => 'ajax_stats', :id => @wisp.id }, 
                              :frequency => '5', 
                              :update => 'wisp_stats-block') 
%>

<div class="grid_12">
  <div class="box">
    <h2><a href="#"><%= t(:Wisp_access_points) %></a></h2>
    <div class="block" id="wisps-block">
      <%= @map ? @map.div(:width => '100%', :height => 320) : '' %>
    </div>
  </div>
</div>
<div class="clear">&nbsp;</div>
