<table>
  <tr>
    <td><a><%= t(:Ethernets) %></a></td>
    <td><%= @server.ethernets.length %></td>
  </tr>
  <tr>
    <td><a><%= t(:L2vpn_servers) %></a></td>
    <td><%= @server.l2vpn_servers.length %></td>
  </tr>
  <tr>
    <td><a><%= t(:Vlans) %></a></td>
    <td><%= @server.vlans.length %></td>
  </tr>
  <tr>
    <td><a><%= t(:Bridges) %></a></td>
    <td><%= @server.bridges.length %></td>
  </tr>
</table>
