<table id="access_points-table">
  <thead>
  <tr>
    <th scope="col" class="head-left"><%=t :Select %></th>
    <th scope="col" class="head"><%=t :Name %></th>
    <th scope="col" class="head"><%=t :AccessPoint_template %></th>
    <th scope="col" class="head"><%=t :Mac_address %></th>
    <th scope="col" class="head"><%=t :Internal %></th>
    <th scope="col" class="head"><%=t :Address %></th>
    <th scope="col" class="head"><%=t :City %></th>
    <th scope="col" class="head"><%=t :Zip %></th>
    <th scope="col" class="head-right"><%=t :Notes %></th>
  </tr>
  </thead>
  <tbody>
  <% access_points.each do |access_point| %>
      <% if selected.include?(access_point.id) || access_point.access_point_group.blank? %>
          <tr>
            <td><%= check_box_tag("access_points[]", access_point.id, selected.present? && selected.include?(access_point.id)) %></td>
            <td><%=h access_point.name %></td>
            <td><%=h access_point.access_point_template.nil? ? '' : access_point.access_point_template.name %></td>
            <td><%=h access_point.mac_address %></td>
            <td><%= access_point.internal == true ? t(:_yes) : t(:_no) %></td>
            <td><%=h access_point.address %></td>
            <td><%=h access_point.city %></td>
            <td><%=h access_point.zip %></td>
            <td>
              <% if access_point.notes.blank? %>
                  &nbsp;
              <% else %>
                  <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                              :title => h(access_point.notes)
                  %>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
