<% form_for [wisp, access_point_group] do |f| %>
    <fieldset>
      <fieldset>
        <legend><%=t :General_infos %></legend>
        <p><%= f.error_messages %></p>

        <p>
          <%= f.label :name, t(:Name) %><br />
          <%= f.text_field :name, :maxlength => 32 %>
        </p>
        <p>
          <%= f.label :site_url, t(:Site_url) %><br />
          <%= f.text_field :site_url %>
        </p>
        <p>
          <%= f.label :notes, t(:Notes) %><br />
          <%= f.text_area :notes, :rows => 3 %>
        </p>
      </fieldset>

      <fieldset>
        <legend><%=t :Access_points_in_group %></legend>

        <p>
          <% if wisp.access_points.present? %>
              <%= render 'access_points_select', :access_points => wisp.access_points, :selected => selected_access_points %>
          <% else %>
              <%= t(:No_access_point) %>
          <% end %>
        </p>
      </fieldset>

      <p><%= f.submit t(access_point_group.new_record? ? :Create : :Update) %></p>
    </fieldset>
<% end %>

