<%#
# This file is part of the OpenWISP Manager
#
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_16">
  <div class="box">
    <h4><a><%= t(:Operators_list) %> - <%=h @wisp.name %></a></h4>
  </div>
</div>
<div class="clear">&nbsp;</div>

<div class="grid_14 prefix_1 suffix_1">
  <div class="box">
    <h2><a href="#" id="toggle-forms"><%= t(:Listing_operators) %></a></h2>
    <div class="block" id="operators_block">

      <table id="operators-table">
        <thead>
        <tr>
          <th scope="col" class="head-left"><%=t :Operations %></th>
          <th scope="col" class="head"><%=t :Operator_name %></th>
          <th scope="col" class="head"><%=t :Roles %></th>
          <th scope="col" class="head-right"><%=t :Notes %></th>
        </tr>
        </thead>
        <% if auth?(:wisps_creator) || auth?(:operators_creator, @wisp) %>
            <tfoot>
            <tr><td colspan="4" class="foot" style="text-align: center;"><%= link_to t(:Create_New), new_wisp_operator_path(@wisp) %></td></tr>
            </tfoot>
        <% end %>
        <tbody>
        <% @operators.each do |operator| %>
            <tr>
              <% if operator.roles.length == 0 %>
                  <td style="width:32px;">
                    <% if auth?(:wisps_manager) || auth?(:operators_manager, @wisp) %>
                        <%= link_to image_tag("edit.png", :border=>0, :size => "16x16", :alt => t(:Edit)), edit_wisp_operator_path(@wisp, operator),
                                    :title => t(:Editing_operator)
                        %>
                    <% end %>
                    <% if auth?(:wisps_destroyer) || auth?(:operators_destroyer, @wisp) %>
                        <%= link_to image_tag("delete.png", :border=>0, :size => "16x16", :alt => t(:Destroy)), wisp_operator_path(@wisp, operator),
                                    :title => t(:Destroy_operator),
                                    :confirm => t(:Are_you_sure_operator_destroy),
                                    :method => :delete
                        %>
                    <% end %>
                  </td>
                  <td><%=h operator.login %></td>
                  <td>&nbsp;</td>
                  <td>
                    <% if (operator.notes.nil? or operator.notes.length == 0) %>
                        &nbsp;
                    <% else %>
                        <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                                    :title => h(operator.notes)
                        %>
                    <% end %>
                  </td>
              <% else %>
                  <td rowspan="<%= operator.roles.length %>" style="width:32px;">
                    <% if auth?(:wisps_manager) || auth?(:operators_manager, @wisp) %>
                        <%= link_to image_tag("edit.png", :border=>0, :size => "16x16", :alt => t(:Edit)), edit_wisp_operator_path(@wisp, operator),
                                    :title => t(:Editing_operator)
                        %>
                    <% end %>
                    <% if auth?(:wisps_destroyer) || auth?(:operators_destroyer, @wisp) %>
                        <%= link_to image_tag("delete.png", :border=>0, :size => "16x16", :alt => t(:Destroy)), wisp_operator_path(@wisp, operator),
                                    :title => t(:Destroy_operator),
                                    :confirm => t(:Are_you_sure_operator_destroy),
                                    :method => :delete
                        %>
                    <% end %>
                  </td>
                  <td rowspan="<%= operator.roles.length %>"><%=h operator.login %></td>
                  <td><%=h operator.roles[0] %></td>
                  <td rowspan="<%= operator.roles.length %>">
                    <% if (operator.notes.nil? or operator.notes.length == 0) %>
                        &nbsp;
                    <% else %>
                        <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                                    :title => h(operator.notes)
                        %>
                    <% end %>
                  </td>
              <% end %>
            </tr>
            <% operator.roles.values_at(1..operator.roles.length-1).each do |r| %>
                <tr>
                  <td><%=h r %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="clear">&nbsp;</div>