<%#
# This file is part of the OpenWISP Manager
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<table>
  <tbody>
    <tr>
      <td><a><%= t(:Linked_access_point) %></a></td>
      <td><%= @access_point_template.access_points.length %></td>
    </tr>
    <tr>
      <td><a><%= t(:Radios) %></a></td>
      <td><%= @access_point_template.radio_templates.length %></td>
    </tr>
    <tr>
      <td><a><%= t(:Ethernets) %></a></td>
      <td><%= @access_point_template.ethernet_templates.length %></td>
    </tr>
    <tr>
      <td><a><%= t(:L2vpns) %></a></td>
      <td><%= @access_point_template.l2vpn_templates.length %></td>
    </tr>
    <tr>
      <td><a><%= t(:Bridges) %></a></td>
      <td><%= @access_point_template.bridge_templates.length %></td>
   </tr>
  </tbody>
</table>
