<% if @access_point_template.access_points.length == 0  %>
    <table>
      <tr>
        <td><a> <%= t(:AccessPoint_template_without_aps) %> </a></td>
      </tr>
		</table>
<% elsif @access_point_template.is_committed? %>
    <table>
      <tr>
        <td><a> <%= t(:AccessPoint_template_synchronized) %> </a></td>
      </tr>
		</table>
<% elsif ( ( @access_point_template.access_points.length != 0 ) and !@access_point_template.is_committed? ) %>
		<table>
      <tr>
        <td><a> <%= t(:AccessPoint_template_unsynchronized) %> </a></td>
      </tr>
		</table>
		<ul class="menu"> 
				<li> 
					<a><%= link_to_remote t(:Listing_Access_Points_Modified_short), 
					   :url => { :controller => 'access_point_templates', :action => 'list_access_points', :template_id => @access_point_template.id },
			       :update => { :success => "access_point_template_block" },
		         :loading => "new Effect.BlindUp('access_point_template_block', { duration: 0.2, queue: 'front' })",
		         :loaded => "new Effect.BlindDown('access_point_template_block', { duration: 0.2, queue: 'end' })"
					 %> </a> 
				</li> 
				<li> 
					<a><%= link_to_remote t(:Update), 
								:url => { :controller => 'access_point_templates', :action => 'commit_configuration', :template_id => @access_point_template.id },
								:update => { :success => "access_point_template_block" }
						%></a> 
				</li>
			</ul>
<% end %>




