<%#
# This file is part of the OpenWISP Manager
#
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_16">
  <div class="box">
    <h4><a><%= t(:Access_point_templates_list) %> - <%=h @wisp.name %></a></h4>
  </div>
</div>
<div class="clear">&nbsp;</div>

<div class="grid_10 prefix_3 suffix_3">
  <div class="box">
    <h2><a href="#" id="toggle-forms"><%= t(:Listing_access_point_templates) %></a></h2>
    <div class="block" id="access_point_templates_block">
      <table id="access_point_templates-table">
        <thead>
        <tr>
          <th scope="col" class="head-left"><%=t :Operations %></th>
          <th scope="col" class="head"><%=t :Name %></th>
          <th scope="col" class="head"><%=t :Linked_access_point %></th>
          <th scope="col" class="head-right"><%=t :Notes %></th>
        </tr>
        </thead>
        <% if auth?(:wisps_creator) || auth?(:access_point_templates_creator, @wisp) %>
            <tfoot>
            <tr><td colspan="4" class="foot" style="text-align: center;"><%= link_to t(:Create_New), new_wisp_access_point_template_path(@wisp) %></td></tr>
            </tfoot>
        <% end %>

        <tbody>

        <% @access_point_templates.each do |access_point_template| %>
            <tr>
              <td style="width:54px;">
                <%= link_to image_tag("configure.png", :border=>0, :size => "16x16", :alt => t(:Edit)), wisp_access_point_template_path(@wisp, access_point_template),
                            :title => t(:Configure)
                %>
                <% if auth?(:wisps_manager) || auth?(:access_point_templates_manager, @wisp) %>
                    <%= link_to image_tag("edit.png", :border=>0, :size => "16x16", :alt => t(:Edit)), edit_wisp_access_point_template_path(@wisp, access_point_template),
                                :title => t(:Edit_info)
                    %>
                <% end %>
                <% if auth?(:wisps_destroyer) || auth?(:access_point_templates_destroyer, @wisp) %>
                    <%= link_to image_tag("delete.png", :border=>0, :size => "16x16", :alt => t(:Destroy)), wisp_access_point_template_path(@wisp, access_point_template),
                                :title => t(:Destroy_access_point),
                                :confirm => t(:Are_you_sure_access_point_template_destroy),
                                :method => :delete
                    %>
                <% end %>
              </td>
              <td><%= link_to access_point_template.name, wisp_access_point_template_path(@wisp, access_point_template) %></td>
              <td><%=h access_point_template.access_points.length %></td>
              <td>
                <% if (access_point_template.notes.nil? or access_point_template.notes.length == 0) %>
                    &nbsp;
                <% else %>
                    <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                                :title => h(access_point_template.notes)
                    %>
                <% end %>
              </td>

            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="clear">&nbsp;</div>
