<%#
# This file is part of the OpenWISP Manager
#
# Copyright (C) 2010 CASPUR (wifi@caspur.it)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_16">
  <div class="box">
    <h4><a><%= t(:Add_access_point_template) %> - <%=h @wisp.name %></a></h4>
  </div>
</div>
<div class="clear">&nbsp;</div>

<div class="grid_10 prefix_3 suffix_3">
  <div class="box">
    <h2><a href="#" id="toggle-forms"><%= t(:Add_access_point_template) %></a></h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:Back),:back %>
      </li>
    </ul>
    <div class="block" id="new_access_point_template-block">
      
      <% form_for([@wisp, @access_point_template]) do |f| %>
      <p><%= f.error_messages %></p>
        <fieldset>
          <legend><%=t :General_infos %></legend>
            <p><%= f.label t(:Name)  %><br>
            <%= f.text_field :name, :maxlength => 32 %></p>
            <p><%= f.label t(:Notes) %><br>
            <%= f.text_area :notes, :rows => 3 %></p>
            <%= f.submit t(:Create) %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
<div class="clear">&nbsp;</div>