<%#
# This file is part of the OpenWISP Manager
#
# Copyright (C) 2010 CASPUR (wifi@caspur.it)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_16">
  <div class="box">
    <h4><a><%= t(:Access_point_template) %> - <%= @access_point_template.name %> - <%=h @wisp.name %></a></h4>
  </div>
</div>
<div class="clear">&nbsp;</div>

<div class="grid_4">
  <div class="box">
    <h2><a href="#" class="toggle-forms"><%= t(:Stats) %></a></h2>

    <div class="block" id="access_point_templates_stats-block">
      <%= render :partial => "stats", :object =>  @access_point_template, :locals => { :flag => @modified_flag } %>
    </div>
  </div>

  <div class="box">
    <h2><a href="#" class="toggle-forms"><%= t(:General_infos) %></a></h2>
    <ul class="nav main">
      <% if auth?(:wisps_manager) || auth?(:access_point_templates_manager, @wisp) %>
          <li><%= link_to t(:Edit), edit_wisp_access_point_template_path(@wisp, @access_point_template) %></li>
      <% end %>
      <li><%= link_to t(:List_all_access_point_templates), wisp_access_point_templates_path(@wisp) %></li>
    </ul>
    <div class="block" id="access_point_templates_info-block">
      <table>
        <tr>
          <td><a><%= t(:Name) %></a></td>
          <td><%=h @access_point_template.name %></td>
        </tr>
        <tr>
          <% if @access_point_template.template_groups.length == 0 %>
              <td><a><%= t(:Template_groups) %></a></td>
              <td><%= t(:None) %></td>
          <% else %>
              <td rowspan="<% @access_point_template.template_groups.length %>"><a><%= t(:Template_groups) %></a></td>
              <% @access_point_template.template_groups.each do |tg| %>
                  <td><%=h tg.name %></td>
              <% end %>
          <% end %>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2"><a><%= t(:Notes) %></a></td>
        </tr>
        <tr>
          <td colspan="2"><%= h(@access_point_template.notes).gsub(/\n/, "<br>") %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<%= periodically_call_remote( :url => { :action => 'ajax_stats', :wisp_id => @wisp.id, :id => @access_point_template.id},
                              :frequency => '15',
                              :update => 'access_point_templates_stats-block')
%>

<div class="grid_12">
  <div class="box">
    <h2><a href="#" class="toggle-forms"><%= t(:Edit) %></a></h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:Radios), '#', :class => 'nohand' %>
        <ul>
          <li>
            <%= link_to_remote t(:List), :method => :get,
                               :url => wisp_access_point_template_radio_templates_url(@wisp, @access_point_template),
                               :update => { :success => "access_point_template_block" }
            %>
          </li>
          <% if auth?(:wisps_manager) || auth?(:access_point_templates_manager, @wisp) %>
              <li>
                <%= link_to_remote t(:Add), :method => :get,
                                   :url => new_wisp_access_point_template_radio_template_url(@wisp, @access_point_template),
                                   :update => { :success => "access_point_template_block" }
                %>
              </li>
          <% end %>
        </ul>
      </li>
      <li>
        <%= link_to t(:Ethernets), '#', :class => 'nohand' %>
        <ul>
          <li>
            <%= link_to_remote t(:List), :method => :get,
                               :url => wisp_access_point_template_ethernet_templates_url(@wisp, @access_point_template),
                               :update => { :success => "access_point_template_block" }
            %>
          </li>
          <% if auth?(:wisps_manager) || auth?(:access_point_templates_manager, @wisp) %>
              <li>
                <%= link_to_remote t(:Add), :method => :get,
                                   :url => new_wisp_access_point_template_ethernet_template_url(@wisp, @access_point_template),
                                   :update => { :success => "access_point_template_block" }
                %>
              </li>
          <% end %>
        </ul>
      </li>
      <li>
        <%= link_to t(:L2vpns), '#', :class => 'nohand' %>
        <ul>
          <li>
            <%= link_to_remote t(:List), :method => :get,
                               :url => wisp_access_point_template_l2vpn_templates_url(@wisp, @access_point_template),
                               :update => { :success => "access_point_template_block" }
            %>
          </li>
          <% if auth?(:wisps_manager) || auth?(:access_point_templates_manager, @wisp) %>
              <li>
                <%= link_to_remote t(:Add), :method => :get,
                                   :url => new_wisp_access_point_template_l2vpn_template_url(@wisp, @access_point_template),
                                   :update => { :success => "access_point_template_block" }
                %>
              </li>
          <% end %>
        </ul>
      </li>
      <li>
        <%= link_to t(:Vlans), '#', :class => 'nohand' %>
        <ul>
          <li>
            <%= link_to_remote t(:List), :method => :get,
                               :url => wisp_access_point_template_vlan_templates_url(@wisp, @access_point_template),
                               :update => { :success => "access_point_template_block" }
            %>
          </li>
          <% if auth?(:wisps_manager) || auth?(:access_point_templates_manager, @wisp) %>
              <li>
                <%= link_to_remote t(:Add), :method => :get,
                                   :url => new_wisp_access_point_template_vlan_template_url(@wisp, @access_point_template),
                                   :update => { :success => "access_point_template_block" }
                %>
              </li>
          <% end %>
        </ul>
      </li>
      <li>
        <%= link_to t(:Bridges), '#', :class => 'nohand' %>
        <ul>
          <li>
            <%= link_to_remote t(:List), :method => :get,
                               :url => wisp_access_point_template_bridge_templates_url(@wisp, @access_point_template),
                               :update => { :success => "access_point_template_block" }
            %>
          </li>
          <% if auth?(:wisps_manager) || auth?(:access_point_templates_manager, @wisp) %>
              <li>
                <%= link_to_remote t(:Add), :method => :get,
                                   :url => new_wisp_access_point_template_bridge_template_url(@wisp, @access_point_template),
                                   :update => { :success => "access_point_template_block" }
                %>
              </li>
          <% end %>
        </ul>
      </li>
      <li>
        <%= link_to t(:L2tcs), '#', :class => 'nohand' %>
        <ul>
          <li>
            <%= link_to_remote t(:List), :method => :get,
                               :url => wisp_access_point_template_l2tc_templates_url(@wisp, @access_point_template),
                               :update => { :success => "access_point_template_block" }
            %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to t(:Custom_scripts), '#', :class => 'nohand' %>
        <ul>
          <li>
            <%= link_to_remote t(:List), :method => :get,
                               :url => wisp_access_point_template_custom_script_templates_url(@wisp, @access_point_template),
                               :update => { :success => "access_point_template_block" }
            %>
          </li>
          <% if auth?(:wisps_manager) || auth?(:access_point_templates_manager, @wisp) %>
              <li>
                <%= link_to_remote t(:Add), :method => :get,
                                   :url => new_wisp_access_point_template_custom_script_template_url(@wisp, @access_point_template),
                                   :update => { :success => "access_point_template_block" }
                %>
              </li>
          <% end %>
        </ul>
      </li>
    </ul>
    <div class="block" id="access_point_template_block">
      <p class="notice"><%= t(:Select_operation_from_menu) %></p>
    </div>
  </div>
</div>

<div class="clear">&nbsp;</div>


