<%#
# This file is part of the OpenWISP Manager
#
# Copyright (C) 2010 CASPUR (wifi@caspur.it)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div id="list_radio_templates_div">
  <a><%= t(:Listing_radio_templates) %></a>

  <table id="radio_templates-table">
    <thead>
    <tr>
      <th rowspan="2" scope="col" class="head-left" style="vertical-align:middle"><%=t :Operations %></th>
      <th rowspan="2" scope="col" class="head" style="vertical-align:middle"><%=t :Name %></th>
      <th rowspan="2" scope="col" class="head" style="vertical-align:middle"><%=t :Driver %></th>
      <th rowspan="2" scope="col" class="head" style="vertical-align:middle"><%=t :Mode %></th>
      <th rowspan="2" scope="col" class="head" style="vertical-align:middle"><%=t :Default_Channel %></th>
      <th colspan="3" scope="col" class="head" style="text-align:center"><%=t :Vaps %></th>
      <th rowspan="2" scope="col" class="head-left" style="vertical-align:middle"><%=t :Notes %></th>
    </tr>
    <tr>
      <th scope="col" class="head"><%=t :Essid %></th>
      <th scope="col" class="head"><%=t :Visibility %></th>
      <th scope="col" class="head"><%=t :Encryption %></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="1" class="foot-left">&nbsp;</td>
      <td colspan="7" class="foot">&nbsp;</td>
      <td colspan="1" class="foot-right">&nbsp;</td>
    </tr>
    </tfoot>
    <tbody>
    <% @radio_templates.each do |radio_template| %>
        <tr>
          <% if radio_template.vap_templates.length == 0 %>
              <td style="width:32px;">
                <% if auth?(:wisps_manager) || auth?(:access_point_templates_manager, @wisp) %>
                    <%= link_to_remote image_tag("edit.png", :border=>0, :size => "16x16", :alt => t(:Edit)),
                                       :method => :get,
                                       :url => edit_wisp_access_point_template_radio_template_path(@wisp, @access_point_template, radio_template),
                                       :title => t(:Edit_info),
                                       :update => { :success => "list_radio_templates_div", :failure => "list_radio_templates_div" }

                    %>
                    <%= link_to_remote image_tag("delete.png", :border=>0, :size => "16x16", :alt => t(:Destroy)),
                                       :method => :delete,
                                       :url => wisp_access_point_template_radio_template_path(@wisp, @access_point_template, radio_template),
                                       :title => t(:Destroy_access_point),
                                       :confirm => t(:Are_you_sure_radio_template_destroy),
                                       :update => { :success => "list_radio_templates_div", :failure => "list_radio_templates_div" }

                    %>
                <% end %>
              </td>
              <td><%=h radio_template.name %></td>
              <td><%=h radio_template.driver %></td>
              <td><%=h radio_template.mode %></td>
              <td><%=h radio_template.channel %></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>
                <% if (radio_template.notes.nil? or radio_template.notes.length == 0) %>
                    &nbsp;
                <% else %>
                    <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                                :title => h(radio_template.notes)
                    %>
                <% end %>
              </td>
          <% else %>
              <td rowspan="<%= radio_template.vap_templates.length %>" style="width:32px;">
                <% if auth?(:wisps_manager) || auth?(:access_point_templates_manager, @wisp) %>
                    <%= link_to_remote image_tag("edit.png", :border=>0, :size => "16x16", :alt => t(:Edit)),
                                       :method => :get,
                                       :url => edit_wisp_access_point_template_radio_template_path(@wisp, @access_point_template, radio_template),
                                       :title => t(:Edit_info),
                                       :update => { :success => "list_radio_templates_div", :failure => "list_radio_templates_div" }

                    %>
                    <%= link_to_remote image_tag("delete.png", :border=>0, :size => "16x16", :alt => t(:Destroy)),
                                       :method => :delete,
                                       :url => wisp_access_point_template_radio_template_path(@wisp, @access_point_template, radio_template),
                                       :title => t(:Destroy_access_point),
                                       :confirm => t(:Are_you_sure_radio_template_destroy),
                                       :update => { :success => "list_radio_templates_div", :failure => "list_radio_templates_div" }

                    %>
                <% end %>
              </td>
              <td rowspan="<%= radio_template.vap_templates.length %>"><%=h radio_template.name %></td>
              <td rowspan="<%= radio_template.vap_templates.length %>"><%=h radio_template.driver %></td>
              <td rowspan="<%= radio_template.vap_templates.length %>"><%=h radio_template.mode %></td>
              <td rowspan="<%= radio_template.vap_templates.length %>"><%=h radio_template.channel %></td>
              <td><%=h radio_template.vap_templates[0].essid %></td>
              <td><%=h VapTemplate::VISIBILITIES_FSELECT[radio_template.vap_templates[0].visibility] %></td>
              <td><%=h VapTemplate::ENC_TYPES_FSELECT[radio_template.vap_templates[0].encryption] %></td>
              <td rowspan="<%= radio_template.vap_templates.length %>">
                <% if (radio_template.notes.nil? or radio_template.notes.length == 0) %>
                    &nbsp;
                <% else %>
                    <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                                :title => h(radio_template.notes)
                    %>
                <% end %>
              </td>
          <% end %>
        </tr>
        <% if radio_template.vap_templates.length > 1 %>
            <% radio_template.vap_templates.values_at(1..radio_template.vap_templates.length-1).each do |v| %>
                <tr>
                  <td><%=h v.essid %></td>
                  <td><%=h VapTemplate::VISIBILITIES_FSELECT[v.visibility] %></td>
                  <td><%=h VapTemplate::ENC_TYPES_FSELECT[v.encryption] %></td>
                </tr>
            <% end %>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
