<p>
  <strong><%=t :Name %></strong>
  <%=h @radio_template.name %>
</p>

<p>
  <strong><%=t Driver %></strong>
  <%=h @radio_template.driver %>
</p>

<p>
  <strong><%=t Mode %></strong>
  <%=h @radio_template.mode %>
</p>

<p>
  <strong><%=t Channel %></strong>
  <%=h @radio_template.channel %>
</p>


<%= link_to 'Edit', edit_wisp_access_point_template_radio_template_path(@wisp, @access_point_template, @radio_template) %> |
<%= link_to 'Back', wisp_access_point_template_radio_templates_path(@wisp, @access_point_template) %>
