<%#
# This file is part of the OpenWISP Manager
#
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<table id="access_point_templates-table">
  <thead>
    <tr>
      <th scope="col" class="head-left"><%=t :Select %></th>
      <th scope="col" class="head"><%=t :Name %></th>
      <th scope="col" class="head"><%=t :Linked_access_point %></th>
      <th scope="col" class="head-right"><%=t :Notes %></th>
    </tr>
  </thead>
  <tbody>
    <% access_point_templates.each do |access_point_template| %>
        <tr>
          <td><%= check_box_tag("access_point_templates[]", access_point_template.id, selected_access_point_templates.include?(access_point_template.id)) %></td>
          <td><%=h access_point_template.name %></td>
          <td><%=h access_point_template.access_points.length %></td>
          <td>
            <% if (access_point_template.notes.nil? or access_point_template.notes.length == 0) %>
              &nbsp;
            <% else %>
              <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                          :title => h(access_point_template.notes)
              %>                    
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
