<%#
# This file is part of the OpenWISP Manager
#
# Copyright (C) 2010 CASPUR (wifi@caspur.it)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_16">
  <div class="box">
    <h4><a><%= t(:Access_point_templates_list) %> - <%=h @wisp.name %></a></h4>
  </div>
</div>
<div class="clear">&nbsp;</div>

<div class="grid_10 prefix_3 suffix_3">
  <div class="box">
    <h2><a href="#" id="toggle-forms"><%= t(:Listing_template_groups) %></a></h2>
    <div class="block" id="template_groups_block">

    <table id="template_groups-table">
      <thead>
        <tr>
          <th scope="col" class="head-left"><%=t :Operations %></th>
          <th scope="col" class="head"><%=t :Name %></th>
          <th scope="col" class="head"><%=t :AccessPoint_templates %></th>
          <th scope="col" class="head-right"><%=t :Notes %></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
<!--            <td colspan="1" class="foot-left"></td> -->
            <td colspan="4" class="foot" style="text-align: center;"><%= link_to t(:Create_New), new_wisp_template_group_path(@wisp) %></td>
<!--            <td colspan="1" class="foot-right">&nbsp;</td> -->
        </tr>
      </tfoot>
      <tbody>
        <% @template_groups.each do |template_group| %>
          <tr>
            <td style="width:32px;">
              <%= link_to image_tag("edit.png", :border=>0, :size => "16x16", :alt => t(:Edit)), edit_wisp_template_group_path(@wisp, template_group),
                          :title => t(:Edit_template_group)
              %>
              <%= link_to image_tag("delete.png", :border=>0, :size => "16x16", :alt => t(:Destroy)), wisp_template_group_path(@wisp, template_group),
                          :title => t(:Destroy_access_point_group),
                          :confirm => t(:Are_you_sure_template_group_destroy),
                          :method => :delete
              %>
            </td>              
            <td><%=h template_group.name %></td>
            <td><%= template_group.access_point_templates.length %></td>
            <td>
              <% if (template_group.notes.nil? or template_group.notes.length == 0) %>
                &nbsp;
              <% else %>
                <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                            :title => h(template_group.notes)
                %>                    
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
<div class="clear">&nbsp;</div>
