<%#
# This file is part of the OpenWISP Manager
#
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div id="list_bridges_div">
  <a><%= t(:Listing_bridges) %></a>

  <table id="bridges-table">
    <thead>
    <tr>
      <th scope="col" class="head-left"><%= t(:Name) %></th>
      <th scope="col" class="head"><%= t(:Bridgeables) %></th>
      <th scope="col" class="head"><%= t(:Addressing) %></th>
      <th scope="col" class="head-right"><%= t(:Notes) %></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="1" class="foot-left">&nbsp;</td>
      <td colspan="2" class="foot">&nbsp;</td>
      <td colspan="1" class="foot-right">&nbsp;</td>
    </tr>
    </tfoot>
    <tbody>
    <% @bridges.each do |bridge| %>
        <tr>
          <% if bridge.bridgeables.length == 0 %>
              <td style="width:62px;"><%=h bridge.name %></td>
              <td>&nbsp;</td>
              <td><%=h t(bridge.addressing_mode) %></td>
              <td>
                <% if (bridge.notes.nil? or bridge.notes.length == 0) %>
                    &nbsp;
                <% else %>
                    <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                                :title => h(bridge.notes)
                    %>
                <% end %>
              </td>
          <% else %>
              <td rowspan="<%= bridge.bridgeables.length %>" style="width:62px;"><%=h bridge.name %></td>
              <td>
                <%=h bridge.bridgeables[0].friendly_name %>
              </td>
              <td rowspan="<%= bridge.bridgeables.length %>">
                <ul style="list-style-type:none;margin-left:-29px">
                  <li><b><%=h t(bridge.addressing_mode).capitalize %></b></li>
                  <% if bridge.addressing_mode == 'static' or bridge.addressing_mode == 'dynamic' %>
                      <li><b><%=t :Ip_address %>:</b> <%=h bridge.ip %></li>
                      <li><b><%=t :Netmask %>:</b> <%=h bridge.netmask %></li>
                      <li><b><%=t :Gateway %>:</b> <%=h bridge.gateway %></li>
                      <li><b><%=t :Dns %>:</b> <%=h bridge.dns %></li>
                  <% end %>
                </ul>
              </td>
              <td rowspan="<%= bridge.bridgeables.length %>">
                <% if (bridge.notes.nil? or bridge.notes.length == 0) %>
                    &nbsp;
                <% else %>
                    <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                                :title => h(bridge.notes)
                    %>
                <% end %>
              </td>
          <% end %>
        </tr>
        <% if bridge.bridgeables.length > 1 %>
            <% bridge.bridgeables.values_at(1..bridge.bridgeables.length-1).each do |b| %>
                <tr>
                  <td><%=h b.friendly_name %></td>
                </tr>
            <% end %>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
