<div id="edit_ethernet_div">
  <fieldset>
    <legend><%=t :Editing_ethernet %></legend>
    <% remote_form_for([@server, @ethernet],
            :update => { :success => "edit_ethernet_div", :failure => "edit_ethernet_div" }
       ) do |f| %>
      <p><%= f.error_messages %></p>

      <p>
        <%= f.label t(:Name) %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label t(:Notes) %><br />
        <%= f.text_area :notes, :rows => 3 %>
      </p>
      <p>
      <%= f.submit t(:Update) %>
      </p>
    <% end %>
  </fieldset>
</div>

