<% @access_point ||= access_point %>
<table>
  <tr>
    <td><strong><%=t :Name %></strong></td>
    <td><%= @access_point.name %></td>
  </tr>
  <tr>
    <td><strong><%=t :Address %></strong></td>
    <td><%= @access_point.address %></td>
  </tr>
  <tr>
    <td><strong><%=t :City %></strong></td>
    <td><%= @access_point.city %></td>
  </tr>
  <tr>
    <td colspan="2" class="center"><strong><%= link_to t(:Detailed_info), wisp_access_point_path(@wisp, @access_point) %></strong></td>
  </tr>
</table>