<%#
# This file is part of the OpenWISP Manager
#
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% content_for :after_defaults do %>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <%= javascript_include_tag 'owm.gmaps' %>
<% end  %>

<% content_for :js_templates do %>
    <%= render 'info_window' %>
<% end  %>

<div class="grid_16">
  <div class="box">
    <h4><a><%= t(:New_access_point) %> - <%=h @wisp.name %></a></h4>
  </div>
</div>
<div class="clear">&nbsp;</div>

<div class="grid_12 prefix_2">
  <div class="box">
    <h2><a href="#" id="toggle-forms"><%=h t(:New_access_point) %></a></h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:Back),:back %>
      </li>
    </ul>
    <div class="clear">&nbsp;</div>
    <div class="block" id="access_point_block">
      <% form_for([@wisp, @access_point]) do |f| %>
          <p><%= f.error_messages %></p>
          <fieldset>
            <legend><%=t :General_infos %></legend>
            <p>
              <%= f.label t(:Name)  %>
              <%= f.text_field :name, :maxlength => 32 %>
              <br>
            </p>
            <p>
              <%= f.label t(:AccessPoint_template)  %>
              <br>
              <%=
                  select( 'access_point_template',
                          :id,
                          @access_point_templates.collect { |ht| [ ht.name, ht.id.to_s ] },
                          :selected => @selected_access_point_template,
                          :include_blank => ''
                  )
              %>
            </p>
            <p>
              <%= f.label t(:Mac_address)  %>
              <br>
              <%= f.text_field :mac_address, :maxlength => 17 %>
            </p>
            <p>
              <%= f.label t(:internal), t(:Internal_qm) %>
              <br>
              <%= f.check_box :internal %>
            </p>
            <p>
              <%= f.label t(:Activation_date) %>
              <br>
              <%= f.date_select :activation_date %>
            </p>
            <p>
              <%= f.label t(:Notes) %>
              <br>
              <%= f.text_area :notes, :rows => 3 %>
            </p>

          </fieldset>

          <fieldset>
            <legend>
              <%=t :Position_infos %>
            </legend>
            <p>
              <%= f.label t(:City) %>
              <br>
              <%= f.text_field :city, :maxlength => 20 %>
            </p>
            <p>
              <%= f.label t(:Address) %>
              <br>
              <%= f.text_field :address, :maxlength => 45 %>
            </p>
            <p>
              <%= f.label t(:Zip) %>
              <br>
              <%= f.text_field :zip, :maxlength => 15 %>
            </p>
            <p>
              <%=t :Adjust_position %>
              <br>
            </p>
            <span class="lat"><%= @latlon[0] %></span>
            <span class="lon"><%= @latlon[1] %></span>
            <div id="access_point_new_map"></div>
            <p>
              <%= f.submit t(:Create) %>
            </p>
            <%= f.hidden_field :lat %>
            <%= f.hidden_field :lon %>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>
<div class="clear">&nbsp;</div>

<%=
    observe_fields ['#access_point_city', '#access_point_address', '#access_point_zip'],
                   :frequency => 1,
                   :function => "gmaps.geocode({update_fields: ['#access_point_lat','#access_point_lon'], city:'#access_point_city', street:'#access_point_address', zip:'#access_point_zip'})"
%>
