<%#
# This file is part of the OpenWISP Manager
#
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div class="grid_16">
  <div class="box">
    <h4><a><%= t(:Outdated_access_points_list) %> - <%=h @wisp.name %></a></h4>
  </div>
</div>
<div class="clear">&nbsp;</div>

<% if @access_points.nil? or @access_points.empty? %>
    <div class="grid_14 prefix_1 suffix_1">
      <div class="box">
        <h2><a href="#" id="toggle-infos">&nbsp;</a></h2>
        <div class="block info" id="infos_block">
          <p><%=t :Access_points_updated %></p>
        </div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
<% else %>
    <% if auth?(:wisps_manager) || auth?(:access_point_manager, @wisp) %>
        <div class="grid_14 prefix_1 suffix_1">
          <div class="box">
            <h2><a href="#" id="toggle-warnings"><%= t(:Warning) %></a></h2>
            <div class="block warn" id="warnings_block">
              <p><%=t :Update_access_point_warning, :count => @access_points.count %></p>
              <% form_tag outdated_access_points_update_path(@wisp) do %>
                  <%= submit_tag t(:Update) %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="clear">&nbsp;</div>
    <% end %>

    <div class="grid_14 prefix_1 suffix_1">
      <div class="box">
        <h2><a href="#" id="toggle-forms"><%= t(:Listing_outdated_access_points, :count => @access_points.count) %></a></h2>
        <div class="block" id="access_points_block">
          <table id="access_points-table">
            <thead>
            <tr>
              <th scope="col" class="head"><%=t :Name %></th>
              <th scope="col" class="head"><%=t :AccessPoint_template %></th>
              <th scope="col" class="head"><%=t :Address %></th>
              <th scope="col" class="head"><%=t :City %></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <td colspan="10" class="foot" style="text-align: center;">
                &nbsp;
              </td>
            </tr>
            </tfoot>
            <tbody>

            <% @access_points.each do |access_point| %>
                <tr>
                  <td><%= link_to h(access_point.name), wisp_access_point_path(@wisp, access_point) %></td>
                  <td>
                    <% unless access_point.access_point_template.nil? %>
                        <%=h access_point.access_point_template.name %>
                    <% else %>
                        &nbsp;
                    <% end %>
                  </td>
                  <td><%=h access_point.address %></td>
                  <td><%=h access_point.city %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
<% end %>