<div class="grid_16">
  <div class="box">
    <h4><a><%= t(:Access_point) %> - <%= @access_point.name %> - <%=h @wisp.name %></a></h4>
  </div>
</div>
<div class="clear">&nbsp;</div>

<div class="grid_5">
  <div class="box">
    <h2><a href="#" id="toggle-forms"><%=h t(:General_infos) %></a></h2>
    <ul class="nav main">
      <li>
        <%= link_to t(:Edit), edit_wisp_access_point_path(@wisp, @access_point) %>
      </li>
      <li>
        <%= link_to t(:List_all), wisp_access_points_path(@wisp) %>
      </li>
    </ul>
    
    <div class="block" id="access_point_map_block">
      <%= @map ? @map.div(:width => '100%', :height => 240) : '' %>
    </div>

    <div class="block" id="access_point_info_block">
      <table>
        <tr>
          <td><b><%=t :Name %></b></td>
          <td><%=h @access_point.name %></td>
        </tr>
        <tr>
          <td><b><%=t :Template %></b></td>
          <% if @access_point.access_point_template.nil? %>
            <td><%=t :None %></td>
          <% else %>
            <td><%= link_to @access_point.access_point_template.name, wisp_access_point_template_path(@wisp, @access_point.access_point_template) %></td>
          <% end %>
        </tr>
        <tr>
          <td><b><%=t :Mac_address %></b></td>
          <td><%=h @access_point.mac_address %></td>
        </tr>
        <tr>
          <td><b><%=t :Internal %></b></td>
          <td><%= @access_point.internal? ? t(:_yes) : t(:_no) %></td>
        </tr>
        <tr>
          <td><b><%=t :Activation_date %></b></td>
          <td><%=h @access_point.activation_date %></td>
        </tr>
        <tr>
          <td><b><%=t :Address %></b></td>
          <td><%=h @access_point.address %></td>
        </tr>
        <tr>
          <td><b><%=t :City %></b></td>
          <td><%=h @access_point.city %></td>
        </tr>
        <% if @access_point.notes.length > 0 %>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2"><b><%=t :Notes %></b></td>
        </tr>
        <tr>
          <td colspan="2"><%= h(@access_point.notes).gsub(/\n/, "<br>") %></td>
        </tr>
        <% end %>
        <% if  @access_point.access_point_groups.count > 0 %>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2"><b><%=t :Groups_for_access_point %></b></td>
        </tr>
        <% @access_point.access_point_groups.each do |g|  %>
        <tr>
          <td colspan="2"><%= link_to h(g.name), wisp_access_point_group_path(@wisp, g) %></td>
        </tr>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="grid_11">
  <div class="box">
    <h2><a href="#" id="toggle-forms"><%=h t(:Access_point_statistics) %></a></h2>
    <div class="block" style="text-align:center;">
      <% render_chart_html root_path + 'FusionCharts/FCF_Line.swf', wisp_access_point_hourly_monitoring_access_point_path(@wisp, @access_point, :format => :xml), '', 'AccessPointUptimeStats', 320, 240, false do %>
      <% end %>
      <% render_chart_html root_path + 'FusionCharts/FCF_Line.swf', wisp_access_point_weekly_monitoring_access_point_path(@wisp, @access_point, :format => :xml), '', 'AccessPointUptimeStats', 320, 240, false do %>
      <% end %>
    </div>
  </div>

  <div class="box">
    <h2><a href="#" id="toggle-forms"><%= t(:Detailed_info) %></a></h2>
    <ul class="nav main">
      <li>
        <%= link_to_remote t(:Radios), :method => :get,
           :url => wisp_access_point_radios_url(@wisp, @access_point),
           :update => { :success => "access_point_block" },
           :before => "new Effect.BlindUp('access_point_block', { duration: 0.2, queue: 'front' })",
           :after => "new Effect.BlindDown('access_point_block', { duration: 0.2, queue: 'end' })"
         %>
      </li>
      <li>
        <%= link_to_remote t(:Ethernets), :method => :get,
           :url => wisp_access_point_ethernets_url(@wisp, @access_point),
           :update => { :success => "access_point_block" },
           :loading => "new Effect.BlindUp('access_point_block', { duration: 0.2, queue: 'front' })",
           :loaded => "new Effect.BlindDown('access_point_block', { duration: 0.2, queue: 'end' })"
         %>
      </li>
      <li>
        <%= link_to_remote t(:L2vpns), :method => :get,
           :url => wisp_access_point_l2vpn_clients_url(@wisp, @access_point),
           :update => { :success => "access_point_block" },
           :before => "new Effect.BlindUp('access_point_block', { duration: 0.2, queue: 'front' })",
           :loaded => "new Effect.BlindDown('access_point_block', { duration: 0.2, queue: 'end' })"
         %>
      </li>
      <li>
        <%= link_to_remote t(:Vlans), :method => :get,
           :url => wisp_access_point_vlans_url(@wisp, @access_point),
           :update => { :success => "access_point_block" },
           :loading => "new Effect.BlindUp('access_point_block', { duration: 0.2, queue: 'front' })",
           :loaded => "new Effect.BlindDown('access_point_block', { duration: 0.2, queue: 'end' })"
         %>
      </li>
      <li>
        <%= link_to_remote t(:Bridges), :method => :get,
           :url => wisp_access_point_bridges_url(@wisp, @access_point),
           :update => { :success => "access_point_block" },
           :loading => "new Effect.BlindUp('access_point_block', { duration: 0.2, queue: 'front' })",
           :loaded => "new Effect.BlindDown('access_point_block', { duration: 0.2, queue: 'end' })"
         %>
      </li>
      <li>
        <%= link_to_remote t(:L2tcs), :method => :get,
           :url => wisp_access_point_l2tcs_url(@wisp, @access_point),
           :update => { :success => "access_point_block" },
           :loading => "new Effect.BlindUp('access_point_block', { duration: 0.2, queue: 'front' })",
           :loaded => "new Effect.BlindDown('access_point_block', { duration: 0.2, queue: 'end' })"
         %>
      </li>
    <li>
      <a><%=t :Custom_scripts %></a>
      <ul>
         <li>
           <%= link_to_remote t(:List), :method => :get,
             :url => wisp_access_point_custom_scripts_url(@wisp, @access_point),
             :update => { :success => "access_point_block" },
             :loading => "new Effect.BlindUp('access_point_block', { duration: 0.2, queue: 'front' })",
             :loaded => "new Effect.BlindDown('access_point_block', { duration: 0.2, queue: 'end' })"
           %>
         </li>
         <li>
           <%= link_to_remote t(:Add), :method => :get,
             :url => new_wisp_access_point_custom_script_url(@wisp, @access_point),
             :update => { :success => "access_point_block" },
             :loading => "new Effect.BlindUp('access_point_block', { duration: 0.2, queue: 'front' })",
             :loaded => "new Effect.BlindDown('access_point_block', { duration: 0.2, queue: 'end' })"
           %>
         </li>
      </ul>
    </li>
    </ul>
    <div class="block" id="access_point_block">
      <%= t(:Select_operation_from_menu) %>
    </div>
  </div>
</div>
<div class="clear">&nbsp;</div>
