<%#
# This file is part of the OpenWISP Manager
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<div id="new_bridge_div">
  <fieldset>
    <legend><%=t :New_bridge %></legend>
    
    <% remote_form_for([@server, @bridge],
            :update => { :success => "new_bridge_div", :failure => "new_bridge_div" }
      ) do |f| %>

      <p><%= f.error_messages %></p>

      <p>
        <%= f.label t(:Name) %><br />
        <%= f.text_field :name %>
      </p>
      <p> 
        <table>
          <thead>
            <tr>
              <th colspan="3"><%= t(:Network_parameters_acquiring) %></th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>
        <%= f.radio_button :addressing_mode, :none,  
              { :onclick => "document.getElementById('_address').style.display='none'", 
                :checked => @addressing_mode == 'none' 
              } 
        %> <%= t(:none) %>
            </td>
            <td>
        <%= f.radio_button :addressing_mode, "static", 
              { :onclick => "document.getElementById('_address').style.display='';
                             document.getElementById('_address_legend').innerHTML = '#{t(:Network_parameters)}'", 
                :checked => @addressing_mode == 'static' 
              } 
        %>
        <%= t(:static) %>
            </td>
            <td>
        <%= f.radio_button :addressing_mode, "dynamic", 
              { :onclick => "document.getElementById('_address').style.display='';
                             document.getElementById('_address_legend').innerHTML = '#{t(:Default_network_parameters)}'", 
                :checked => @addressing_mode == 'dynamic'
              }
        %>
        <%= t(:dynamic) %>
            </td>
          </tr>
        </tbody>
      </table>
      </p>

      <fieldset id="_address" <%= 'style="display:none;"' if @addressing_mode == 'none' %>>
        <legend id="_address_legend">
          <%= @addressing_mode == 'static' ? t(:Network_parameters) : t(:Default_network_parameters) %>
        </legend>
        <p>
          <%= f.label t(:Ip) %><br />
          <%= f.text_field :ip %>
        </p>
        <p>
          <%= f.label t(:Netmask) %><br />
          <%= f.text_field :netmask %>
        </p>
        <p>
          <%= f.label t(:Gateway) %><br />
          <%= f.text_field :gateway %>
        </p>
        <p>
          <%= f.label t(:Dns) %><br />
          <%= f.text_field :dns %>
        </p>
      </fieldset>

      <p>
        <%= f.label t(:Bridged_interfaces) %><br />
        <table id="bridgeables-table">
          <thead>
            <tr>
              <th scope="col" class="head-left"><%=t :Select %></th>
              <th scope="col" class="head"><%=t :Name %></th>
              <th scope="col" class="head-right"><%=t :Notes %></th>
            </tr>
          </thead>
          <tbody>
            <% unless @taps.nil? or @taps.length == 0  %>
              <%= render :partial => 'bridgeables_select', 
                         :locals => { :title => t(:Taps),
                                      :selected_bridgeables => @selected_taps, 
                                      :bridgeables => @taps,
                                      :bridgeables_param_name => 'taps'
                                    } 
              %>
            <% end %>
            <% unless @ethernets.nil? or @ethernets.length == 0  %>
              <%= render :partial => 'bridgeables_select', 
                         :locals => { :title => t(:Ethernets),  
                                      :selected_bridgeables => @selected_ethernets, 
                                      :bridgeables => @ethernets,
                                      :bridgeables_param_name => 'ethernets'
                                    } 
              %>
            <% end %>
            <% unless @vlans.nil? or @vlans.length == 0  %>
                <%= render :partial => 'bridgeables_select', 
                           :locals => { :title => t(:Vlans),
                                        :selected_bridgeables => @selected_vlans, 
                                        :bridgeables => @vlans,
                                        :bridgeables_param_name => 'vlans'
                                      } 
                %>
            <% end %>
          </tbody>
        </table>
      </p>
	  <p>
        <%= f.label t(:Notes) %><br />
        <%= f.text_area :notes, :rows => 3 %>
      </p>
      <p>
        <%= f.submit t(:Create) %>
      </p>
    <% end %>
  </fieldset>
</div>