<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dli">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    <%=t :vWisps_manager %>
    <% if @wisp %>
        - <%=h @wisp.name %>
    <% end %>
  </title>
  <%= stylesheet_link_tag 'fluid960/reset' %>
  <%= stylesheet_link_tag 'fluid960/text' %>
  <%= stylesheet_link_tag 'fluid960/grid' %>
  <%= stylesheet_link_tag 'fluid960/layout' %>
  <%= stylesheet_link_tag 'fluid960/nav' %>

  <%= stylesheet_link_tag 'custom' %>

  <%= javascript_include_tag :defaults %>

  <% if controller.class == AccessPointsController || controller.class == WispsController %>
      <% if @map %>
          <%= GMap.header :with_vml => false, :host => request.host %>
          <%= @map.to_html %>
      <% end %>
  <% end %>

</head>
<body>
<div class="container_16">
  <div class="grid_16">
    <h1 id="branding">
      <a href=""><%= image_tag("logo_caspur.png", :border => 0, :size => "58x45", :alt => 'Open WISP Manager', :class => "wispmanager_logo") %> Open WISP Manager</a>
    </h1>
  </div>
  <div class="clear">&nbsp;</div>

  <div class="grid_8" id="_flash_bar"style="color:green">
    <div id="_flash_bar">
      <strong><%= flash[:notice] ? flash[:notice] : "&nbsp;" %></strong>
    </div>
  </div>
  <div class="grid_8" style="text-align:right">
    <a>
      <% if current_operator %>
          <%= t(:Logged_in_as) %>: <%=h current_operator.login %>
      <% else %>
          <%= t(:Not_logged_in) %>
      <% end %>
    </a>
  </div>
  <div class="clear">&nbsp;</div>

  <div class="grid_16">
    <ul class="nav main">
      <% if current_operator and current_operator.has_role? 'admin' %>
          <!-- Super admin menus -->
          <li>
            <%= link_to t(:Super_admin), wisps_path() %>
            <ul>
              <li>
                <%= link_to t(:Wisps), wisps_path() %>
              </li>
              <li>
                <%= link_to t(:OWISPManager_servers), servers_path() %>
              </li>
            </ul>
          </li>
      <% end %>
      <!-- wisp administration menus -->
      <% if @wisp and @wisp.id %>
          <% if current_operator and ( current_operator.has_role? 'admin' or current_operator.has_role? 'wisp_admin' or current_operator.has_role? 'wisp_operator' ) %>
              <li>
                <%= link_to t(:Templates) %>
                <ul>
<%# TODO: to be restored when a usage for access point template groups will be found 

                  <li>
                    <%= link_to t(:Template_groups), wisp_template_groups_path(@wisp) % >
                  </li>
%>
                  <li>
                    <%= link_to t(:AccessPoint_templates), wisp_access_point_templates_path(@wisp) %>
                  </li>

                </ul>
              </li>
          <% end %>
          <li>
            <%= link_to t(:AccessPoints) %>
            <ul>
              <li>
                <%= link_to t(:All), wisp_access_points_path(@wisp) %>
              </li>
              <li>
                <%= link_to t(:Outdated), outdated_access_points_update_path(@wisp) %>
              </li>

<%# TODO: to be restored when a usage for access point groups will be found
              <li>
                <%= link_to t(:Access_point_groups), wisp_access_point_groups_path(@wisp) % >
              </li>
%>
            </ul>
          </li>

          <% if current_operator and ( current_operator.has_role? 'admin' or current_operator.has_role? 'wisp_admin' ) %>
              <li>
                <%= link_to t(:Wisp_services) %>
                <ul>
                  <li>
                    <%= link_to t(:Certification_authority), wisp_ca_path(@wisp) %>
                  </li>
                  <li>
                    <%= link_to t(:Operators), wisp_operators_path(@wisp) %>
                  </li>
                </ul>
              </li>
          <% end %>
      <% end %>
      <!-- logout -->
      <% if current_operator %>
          <li>
            <%= link_to t(:Logout), operator_session_path(), :method => :delete %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="clear">&nbsp;</div>

  <div class="grid_16">
    &nbsp;
  </div>
  <div class="clear">&nbsp;</div>

  <%= yield %>

  <div class="grid_16">
    &nbsp;
  </div>
  <div class="clear">&nbsp;</div>

  <div class="grid_16" id="site_info">
    <div class="box" style="text-align:center">
      <p>Wireless ISP manager - Created by <a href="http://www.caspur.it/">CASPUR</a></p>
    </div>
  </div>
  <div class="clear"></div>

</div>

</body>
</html>
